body {
  background: #232323;
  margin: 0;
  padding: 0;
}

.controls button {
  color: #fff;
}

#close button {
  color: #888;
}

button {
  cursor: pointer;
  background: none;
  font-weight: bold;
  padding: 10px 5px;
  margin: 0 10px;
  border: 0;
}

button:focus {
  outline: none;
}

.header {
  padding: 1%;
  background: #555;
  min-height: 100px;
  display: flex;
  align-content: center;
}

ul {
  border: 1px #fff solid;
  border-radius: 20px;
  display: inline-block;
  padding: 15px;
  flex: 0 0 180px;
}

ul li {
  list-style-type: none;
  color: #fff;
}

h2 {
  padding-bottom: 20px;
}

h1 {
  flex: 0 1 calc(100% - 420px);
  color: white;
  text-align: center;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background ease .6s;
  cursor: pointer;
}

.picked {
  cursor: default;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.controls {
  background: #999999;
  text-align: center;
}

.active {
  background: #555 !important;
}

#howto-popup {
  display: none;
  background: #efefef;
  position: absolute;
  padding: 15px 30px;
  max-width: 600px;
  border-radius: 5px;
  color: #444;
}

#howto-popup #close {
 float: right;
}

.winnertext {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 5em;
  color: #efefef;
  text-shadow: 2px 2px #FF0000;
  display: none;
}

#message {
  color: #fff;
}
